@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,body{
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  padding: 0;
  margin: 0;
  color:aliceblue;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(128, 128, 128, 0.588); 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.675); 
}

.br{
    border: 1px solid black;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color:#141F2E;
    border-radius: 0px 0px 10px 10px;
}

.nav-bar{
  padding-right:25px ;
}

ol{
  list-style: none;
  display: flex;
  gap:30px;
}

ol>li>a{
  text-decoration: none;
  cursor: pointer;
  color:aliceblue;
  font-weight: 600;
  font-size: 18px;
}
  
ol>li>a:hover{
  border-bottom: 3px solid aliceblue;
  border-radius:1px ;
}

.banner-section{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #8EC5FC;
  border-radius: 7px;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.banner-section>img{
  border-radius: 7px;
  width: 50%;
  height: 500px;
  justify-self: flex-start;
}

.text-area{
  color: rgb(40, 39, 39);
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size:45px;
  padding: 1%;
  border-radius: 7px;
  text-shadow: 0px 0px 2px black;
}

.color-text{
  color:white;
  text-shadow: 0px 0px 2px white;
}

.sentance{
  font-size:13px ;
  position: absolute;
  bottom: -10px;
  left: 11rem;
}



.home-section{
  color:#141F2E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-section>div{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-section>div>img{
  width: 35%;
  height: 400px;
}

.home-section>div>p{
  text-align: center;
  font-size: 16px;
  width: 33%;
  padding: 3%;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 5px #ecf3fade;
}

.headName{
  justify-self: center;
  color: #018DEB;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
}

.headName>span{
    border: 5px solid transparent;
    border-bottom: 5px solid #018DEB;
    padding: 0px 4px;
}