@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,body{
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  padding: 0;
  margin: 0;
  color:aliceblue;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgba(128, 128, 128, 0.588); 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.675); 
}

.br{
    border: 1px solid black;
}

.header>h2>a{
  text-decoration: none;
  color: aliceblue
}

@media (min-width: 721px) and (max-width: 2440px) {

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px 10px;
    background-color:#141F2E;
    border-radius: 0px 0px 10px 10px;
}

.nav-bar{
  padding-right:25px ;
}

.header>.nav-bar>.menuButton{
  display: none;
}

ol{
  list-style: none;
  display: flex;
  gap:30px;
}

ol>li>a{
  text-decoration: none;
  cursor: pointer;
  color:aliceblue;
  font-weight: 600;
  font-size: 18px;
}
  
ol>li>a:hover{
  border-bottom: 3px solid aliceblue;
  border-radius:1px ;
}

.banner-section{
  padding: 12.2em 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: #8EC5FC; */
  border-radius: 7px;
  background-image: url('/bannerBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.banner-section>img{
  border-radius: 7px;
  width: 50%;
  height: 500px;
  justify-self: flex-start;
}

.text-area{
  color:yellow;
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size:60px;
  padding: 1%;
  border-radius: 7px;
  text-shadow: 0px 0px 4px yellowgreen;
}

.color-text{
  color:white;
  text-shadow: 0px 0px 2px white;
}

.sentance{
  font-size:13px ;
  position: absolute;
  bottom: -10px;
  left: 20rem;
}

.home-section{
  color:#141F2E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-section>div{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-section>div>img{
  width: 35%;
  height: 400px;
}

.home-section>div>p{
  text-align: center;
  font-size: 16px;
  width: 33%;
  padding: 3%;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 5px #ecf3fade;
}

.headName{
  justify-self: center;
  color: #018DEB;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
}

.headName>span{
    border: 5px solid transparent;
    border-bottom: 5px solid #018DEB;
    padding: 0px 4px;
}

.plan-content{
  color:#141F2E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.plan-content>p{
  color: rgb(79, 78, 78);
  font-size: 15px;
}

.plan-content>button{
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 600;
  background: #018DEB;
  border-radius: 4px;
  font-family: "Poppins", serif;
}

.plan-content>button:hover{
  background: #22a3f8;
}

.plan-content>button>a{
  text-decoration: none;
  color: white;
}

.service-section{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center; 
  color: #141F2E;
}

.service-section>.ser-box{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  gap: 30px;
  padding: 1%;
}

.service-section>.ser-box>.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 5px;
  width: 300px;
  box-shadow: 0px 0px 5px 5px #ecf3fade;
}

.service-section>.ser-box>.box>img{
  width: 50%;
  border-radius: 7px;
}

.service-section>.ser-box>.box>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.service-section>.ser-box>.box>div>span{
  color: rgb(79, 78, 78);
  font-size: 15px;
}

.booking-section{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.booking-section>.vehicles{
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  gap: 30px;
  padding: 1%;
}

.booking-section>.vehicles>.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 5px;
  width: 450px;
  box-shadow: 0px 0px 5px 5px #ecf3fade;
  color: #141F2E;
  text-align: center;
}

.booking-section>.vehicles>.box>img{
  height: 250px;
}

.booking-section>.vehicles>.box>button{
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 600;
  background: #018DEB;
  border-radius: 4px;
  font-family: "Poppins", serif;
  color: white;
}

.date-section{
  margin-top: 2em;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap:4.5em;
  color: #141F2E;
  box-shadow: 0px 0px 5px 5px #ecf3fade;
  border-radius: 7px;
}

.date-section>div>input{
  border: none;
  border-bottom: 2px solid #018DEB;
  outline: none;
}

.date-section>button{
  padding:10px 1.5em;
  border: none;
  background: #018DEB;
  font-weight: 600;
  color: aliceblue;
  border-radius: 4px;
  font-family: "Poppins", serif;
}

.contact-section{
  margin-top: 2em;
  background-color: #141F2E;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  border-radius: 7px 7px 0px 0px;
  padding: 1em 0em;
}

.contact-section span{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
}

.contact-section span:hover{
  cursor: pointer;
  text-decoration: underline;
}

.contact-section span>a{
  text-decoration: none;
  color: aliceblue;
}

.contact-section>.contact-box,.quicklinks{
  padding: 0em 3em;
}

.design{
  background-color: #141F2E;
  text-align: center;
  font-size: 11px;
  padding: 2em;
}

}